<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <targets>
    <!--  Write events to the console. -->
    <target name="Console" xsi:type="Console" layout="${message}"/>
    <!--  Write events to a file with the date in the filename. -->
    <!-- <target xsi:type="File" name="FileTarget" fileName="${basedir}/logs/${shortdate}.log" layout="${message}" /> -->
    <!--  Write events to a database. -->
    <!-- <target name="database" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="server=localhost;Database=*****;user id=****;password=*****"  /> -->    
  </targets>

  <rules>
    <!-- Write all events to the console -->
    <logger name="CH.HelloWorld.ConsoleClient.*" minlevel="Info" writeTo="Console" />
    <!-- Write all events to a file -->
    <!-- <logger name="CH.HelloWorld.ConsoleClient" minlevel="Info" writeTo="FileTarget" /> -->
    <!-- Write all events to a database -->
    <!-- <logger name="CH.HelloWorld.ConsoleClient" minlevel="Info" writeTo="FileTarget" /> -->    
  </rules>
</nlog>
